body{
	background-color: #E2E2E2;
	overflow:hidden;
	text-align: center;
}


.Logo_banniere{
    position: absolute;
    width: 100%;
    height:27%;
    top: 0%;

    background: url('Images/multisport.jpg') no-repeat center;
    background-size: cover;
}

table
{
	transition-property : color ;
	transition-duration : 1s;
	border-color : black;
	border-style : solid;
	text-align : center;
	margin: auto;
}

table:hover
{
	border-color : red;

}

h1
{
	transition-property : color ;
	transition-duration : 1s;
	font-family:"times new roman";
	font-size : 36;
	color : black;
	text-align : center;
}


h2
{
	text-align : center;
}

h3
{
	text-align : center ;
	color : red;
}
.texteEnRouge
{
	font-family:"times new roman";
	font-size : 18;
	color : red;
}

.texteEnBleu
{
	font-family:"times new roman";
	font-size : 36;
	color : blue;
}

.fondMilieu
{	position : relative;
	margin: 0 auto;
    width:80%;
	height:100%;
}

.cadreHautLogo
{	position : absolute;
	width:20%;
	left : 0;
	height:20%;
	text-align: center;
}

.cadreHautMilieu
{
    position : absolute;
	width:55%;
	left : 20%;
	height:20%;
	font-family : comic sans MS;
	text-align : center;

}
.cadreHautDroit
{
	position : absolute;
	width:25%;
	right : 0;
	height:20%;
	background-color:#E2E2E2;
	text-align : right;
	font-family : comic sans MS;
	text-align : center;
}

.menu
{
	position : absolute;
	width:100%;
	height:15%;
	top : 24%;
	font-family : comic sans MS;
	text-align : center;
    justify-content: space-between;

}


.InfoSupplementaires
{
	position : absolute;
	width:20%;
	left : 0;
	height:55%;
	top : 35%;
	background-color:#FDF1B8;
	border-radius : 24px;
}
.centrePage
{
	position : relative;
	width:78%;
	height:55%;
	left : 22%;
	top : 35%;
	text-align : center;
	margin-top : 25px;
	background-color:#FDF1B8;
	overflow:auto;
	border-radius : 24px;
}

.BasPage
{
	position : absolute;
	width:100%;
	height:10%;
	left : 0%;
	top : 90%;
	text-align : center;
	background-color:#FFFFFF;
	
}
.sContent
{
    position: absolute;
    top: 50;
    left: 0;
    width : 400%;

    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out-in;
	display: inline;
}

.d-block{
    border-radius:2%;
}

.logo{
    width:18vh;
    height:15vh;
    border-radius:50%;
    border-color:#99cc66;
}

.diapo{
    margin: 0 auto;
    margin-top:32vh;
    width: 40%;
}


.pcaroussel{
	position:relative;
	display: flex;
	margin:0 auto;
	margin-top: 15vh;
	width:100%!important;
	height:70%!important;
	background:#151754;
}

.carousel-innerimg{
	margin:auto;
	width:100%!important;
	height:100%!important;
	z-index: 3;
}

.carousel-inner{
	margin-top:25.80vh;
}

.img-fluid{
	width: 100%;
	height: 75%;
}

.dropdown-item{
	text-align: center;
	z-index: 1;
}

.collapse{
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



}

@media (min-width: 576px) {

    .menu{
        z-index: 1;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .diapo img{
        width:60%;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .diapo img{
        width:80%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .diapo img{
        width:100%;
    }
}


